<!DOCTYPE html>
<html>
<head>
	<title>Amadon Store - Checkout</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'amadon_store/css/style.css' %}">
</head>
<body>
	<div id="pagewrap">
		<h1>Thank you for your business!</h1>
		<p>We charged your credit car for {{ request.session.order_total }}.</p>
		<p>You have ordered {{request.session.total_items}} items so far and spent ${{request.session.total_cost}} with Amadon.com!<p>
		<a href="/amadon/goback">Go Back</a>
	</div>
</body>
</html>